# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Swap and temp files
*.swp
*.swo
*~

# Build files
build/
.dep/

# Debug files
*.dSYM/

# Git revision data
gitversion.c
gitversion.h
